POSTGRES_DB=hiscope_eval
POSTGRES_USER=hiscope
POSTGRES_PASSWORD=change-me

APP_BOOTSTRAP_SUPER_ADMIN_ENABLED=false
APP_BOOTSTRAP_SUPER_ADMIN_LOGIN_ID=super
APP_BOOTSTRAP_SUPER_ADMIN_PASSWORD=change-me
