@charset "UTF-8";
:root, html {
	--footer--width: 100vw;
}
.footer > div {
   	padding: 0 20%;
}

@media all and (max-width: 1180px){
	
	.footer > div {
    	padding: 0 10%;
	}
}
@media all and (max-width: 767px){
	body {
		background: #fcfcfc;
	    width: 100vw;
	    height: 100vh;
	}
	section {
		position: inherit;
		transform: unset;
		padding: 20px;
	    width: 100%;
	    height: 100vh;
	    border: none;
	}
	.login {
		margin: 60px 0 0;
	    border: 1px solid #dfdfdf;
	}
	.line {
		display: none;
	    width: 100%;
	    background: #1b304a;
	    height: 9px;
	    position: relative;
	    top: -134px;
	}
	.login-head {
    	padding: 0px 20px;
	}
	.head-span-area > span {
		position: inherit;
	}
	ul {
		width: 100%;
    	padding: 0 15px;
	}
	input[type=text], input[type=password], button {
	    width: 100%;
	    font-size: 1.3rem;
	}
	button {
		font-size: 1.6rem;
	}
	.footer {
		height: 251px;
		position: inherit;
	}
	.footer > div {
    	padding: 0;
	}
	.modal_body {
		width: 90%;
	}
}

